
 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

/*header start*/
.menu ul li a {
	text-align: right;
	padding: 0 !important;

}
/*slider start*/
.slider{
	padding-bottom: 70px;
}
.inspire {
    margin-top: 0px;
}
.inspire h1 {
    font-size: 28px;

}
.inspire h2 {
letter-spacing:0px;
}
.inspire p{
	word-spacing: 1px;
}
.l_inline{
	text-align: center;
}
.inspire .list-inline li{
	font-size: 38px;
	margin-right: 20px;
}
.cid {
    bottom: -55px;
}

}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
/*header start*/
.menu ul li a {
	text-align: right;
	padding: 0 !important;

}
/*slider start*/
.inspire {
    margin-top: 10px;
}

}

 

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
/*header start*/
.menu ul li a {
	text-align: right;
	padding: 0 !important;

}
/*slider start*/
.inspire {
    margin-top: 50px;
}

 }

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 



	
 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 



 }