@font-face{
	src:url(../fonts/Helvetica-Neue-Bold.ttf); 
	font-family: Helvetica-Neue-Bold;
}
body{
font-family: 'PT Sans', sans-serif;

}
/*header*/
header{
 background-color: #fcdb00;
 padding: 20px 0;
}
.menu{

}
.menu ul{

}
.menu ul li{

}
.menu ul li a {
    font-weight: 700;
    font-size: 22px;
    color:#010101 ! important;
    transition: .5s;
    padding: 0 40px !important;
}
.menu ul li a:hover{
	color: white! important;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}

/*caursel*/
.slider{
background-color: #fcdb00;
padding-bottom: 100px;
}
.inspire{
    margin-top: 70px;
}
.inspire h1{
	font-weight: 700;
	font-size: 32px;
	color:#010101 ! important; 
}
.inspire h2{
	font-weight: 400;
	font-size: 20px;
	color:#313841 ! important;
	letter-spacing: 1px; 
}
.inspire p{
	font-size: 16px;
	color:#555555 ! important; 
	word-spacing: 1px;
}
.inspire .list-inline li{
	font-size: 42px;
	color:#010101 ! important; 
	margin-right: 10px;
}
.inspire .list-inline li:hover{
	font-size: 50px;
	color:white ! important; 
}

.s_img{
	text-align:center;
}
.cid {
    bottom: -70px;
}
.cid li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}
.cid .active {
    background-color: gray;
}
/*fetaure start*/
.feature{
	padding-top: 80px;
	padding-bottom: 80px;
}
.c_tittle{
	margin-bottom: 40px;
}
.c_tittle h1{
	font-weight: 700;
	font-size: 32px;
	color: #010101;
}
.c_tittle p{
	font-size: 20px;
	color: #313841;
	letter-spacing: 1px;
	word-spacing: 1px;
}
.s_icon{
	font-size: 50px;
}
.s_content{
	margin-top: 10px;
}
.s_content h2{
	font-weight: 700;
	font-size: 22px;
	color: #010101;
}
.s_content p{
	font-size: 16px;
	color: #898989;
	word-spacing: 1px;
	letter-spacing: 1px;

}
.p-20{
	padding-top: 20px;
	padding-bottom: 20px;
}
/*contact start*/
.contact{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #010101;
}
.yellow{
	color: #fcdb00 !important;
}
.ash{
	color: #898989 !important;
}
.form{}
.form input{
	font-size: 16px;
	color: #898989;
	padding: 25px 25px;
}
.btn-cutom{
	background-color: #fcdb00 !important;
	font-weight: 700;
	font-size: 16px;
	color: #010101;
	text-transform: uppercase;
	padding: 12px 35px;
}
.btn-cutom:hover{
	color: white;
	font-size: 20px;
	padding: 12px 40px;
}
.social-link{
 margin-top: 60px;
}
.social-link ul{}
.social-link ul li{
	padding: 0 7px;
}
.social-link ul li a {
    font-size: 32px;
    color: black;
    padding: 0 8px;
    background-color: yellow;
    border-radius: 7px;
}
.social-link ul li a:hover{
	color: blue;
	background-color: black;
}

/*footer start*/
footer{
	padding: 80px 0 80px 0;
	background-color: #010101;
}
.list{
	background-color: #010101;
}
.list ul{}
.list ul li {
	list-style-type: none;
}
.list ul li p{
	 font-size: 16px;
    color: #ffffff;
}
.list ul li a{
      font-size: 16px;
    color: #ffffff;
} 
.list ul li a:hover{
	background-color: white;
	color: black;
}